@model Hybriotheca.Web.Models.Entities.CreateLoanViewModel

<div class="p-4 grow">
    <main role="main" class="max-w-screen-xl justify-between mx-auto dark:text-white">

        <style>
            input#start-date {
                display: inline-block;
                position: relative;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                background: transparent;
                bottom: 0;
                color: transparent;
                cursor: pointer;
                height: auto;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: auto;
            }
        </style>

        <div class="container mx-auto px-4">
            <h1 class="text-2xl font-semibold mb-4">Book Reservation</h1>
            <div class="flex flex-col md:flex-row gap-4">
                <!-- LEFT CONTAINER -->
                <div class="md:w-3/4">
                    <div class="bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 rounded-lg shadow-md p-6 mb-4">
                        <!-- DATEPICKER -->
                        <div class="mb-8">
                            <label for="start-date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a date to pick up the book</label>
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none z-10">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                <input type="date" id="start-date" name="start-date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                            </div>
                        </div>
                        <!-- LIBRARIES SELECT -->
                        <div>
                            <label for="libraries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a library</label>
                            <select id="libraries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
                        </div>
                    </div>
                </div>

                <!-- RIGHT CONTAINER -->
                <div class="md:w-1/4">
                    <div class="bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 rounded-lg shadow-md p-6">
                        <div class="flex flex-col items-center w-full break-all">
                            <!-- COVER -->
                            <img src="~/images/CN.jpg" class="h-auto max-w-[150px] mb-2" />
                            <!-- BOOK TITLE -->
                            <h2 class="text-center font-medium text-base">Chronicles of Narnia</h2>
                            <!-- AUTHOR -->
                            <h3 class="text-center text-sm text-gray-400">C. S. Lewis</h3>

                            <!-- BUTTON -->
                            <button class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full">Reserve book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</div>
