<!-- Modal content -->
<div class="flex flex-col bg-white rounded-lg shadow dark:bg-gray-700">

    <!-- Modal header -->
    <div class="flex items-start justify-between shrink-0 p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Community Guidelines
        </h3>
        <button type="button" data-modal-hide="modal-guidelines" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
    </div>

    <!-- Modal body -->
    <style>
        #guidelines ::marker{
            font-size: 0.5em;
        }
    </style>
    <div id="guidelines" class="p-6 space-y-6 text-gray-900 dark:text-white">
        <h2 class="mb-2 text-xl font-medium">
            1. Be Respectful and Courteous
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Treat others with kindness and respect, even if you disagree with their opinions.
            </li>
            <li>
                Avoid personal attacks, hate speech, or discriminatory language.
            </li>
        </ul class="text-gray-500 dark:text-gray-400">


        <h2 class="mb-2 text-xl font-medium">
            2. Stay On Topic
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Keep discussions relevant to books, literature, or any correlate topics.
            </li>
            <li>
                Avoid spamming or posting off-topic content.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            3. Use Appropriate Language
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Avoid using profanity, vulgar language, or offensive content.
            </li>
            <li>
                Remember that this is a public space, and language should be suitable for all age groups.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            4. Respect Privacy
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Do not share personal information about yourself or others.
            </li>
            <li>
                Do not engage in doxxing or any form of cyberbullying.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            5. Be Constructive
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Provide constructive feedback in book reviews and discussions.
            </li>
            <li>
                Support your opinions with reasons and evidence.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            6. No Plagiarism
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                If you use quotes or excerpts from books or other sources, give proper attribution.
            </li>
            <li>
                Do not plagiarize or infringe on copyright.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            7. Report Inappropriate Content
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                If you come across content that violates these guidelines, report it to the moderators/administrators.
            </li>
            <li>
                Do not engage in public arguments; report issues instead.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            8. Be Mindful of Tone
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Be aware that tone can be easily misunderstood in text. Use emoticons or tone indicators when necessary to convey your meaning.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            9. Respect Copyright
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Do not share copyrighted material without permission.
            </li>
            <li>
                Use proper citation when referencing external sources.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            10. Follow Community Rules
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Abide by the specific rules and guidelines set forth by the website.
            </li>
            <li>
                Failure to adhere to these guidelines may result in warnings or account suspension.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            11. Help Maintain a Welcoming Atmosphere
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Encourage newcomers and help answer their questions if you can.
            </li>
            <li>
                Promote a sense of community and inclusivity.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            12. Understand the Library's Mission
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Familiarize yourself with the library's mission and values, and try to align your contributions with them.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            13. Remember the Audience
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Keep in mind that the discussion forum and book reviews may be accessed by a diverse audience, including children and families.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            14. Be Patient
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Not everyone may have the same level of knowledge or expertise. Be patient and considerate when interacting with others.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            15. Have Fun and Share Your Passion for Books
        </h2>
        <ul class="list-disc list-inside text-gray-500 dark:text-gray-400">
            <li>
                Ultimately, this is a space for book lovers. Enjoy discussing and sharing your love for literature!
            </li>
        </ul>
    </div>

    <!-- Modal footer -->
    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button data-modal-hide="modal-guidelines" type="button" class="text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">Ok</button>
    </div>
</div>

<div>
    
</div>