<!-- Modal content -->
<div class="flex flex-col bg-white rounded-lg shadow dark:bg-gray-700">

    <!-- Modal header -->
    <div class="flex items-start justify-between shrink-0 p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Terms &amp; Conditions
        </h3>
        <button type="button" data-modal-hide="modal-terms-and-conditions" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
    </div>

    <!-- Modal body -->
    <style>
        li:not(:last-child) {
            margin-bottom: 1em;
        }
    </style>

    <div id="guidelines" class="p-6 space-y-6 text-gray-900 dark:text-white">
        <p class="mb-2 text-gray-800 dark:text-gray-200">
            These Terms and Conditions govern your use of Hybriotheca and its services, including book borrowing, online reading, and premium subscription services. By using the Website, you agree to comply with these Terms. Please read them carefully.
        </p>

        <h2 class="mb-2 text-xl font-medium">
            1. User Eligibility
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                1.1 You must be at least 18 years old to use the Website and its services. By using the Website, you represent and warrant that you meet this age requirement.
            </li>
        </ul class="text-gray-500 dark:text-gray-400">


        <h2 class="mb-2 text-xl font-medium">
            2. Book Borrowing
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                2.1 You may borrow books from the Website's collection subject to availability and the library's borrowing policies.
            </li>
            <li>
                2.2 You are responsible for returning borrowed books on time and in good condition. Late fees may apply for overdue books.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            3. Online Reading
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                3.1 The Website may offer online reading services for certain books. Access to these books may be subject to specific terms and conditions set by the library.
                </li>
            <li>
                3.2 You may not download, reproduce, or distribute online books in violation of copyright laws.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            4. Premium Subscription Services
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                4.1 The Website may offer premium subscription services, which may include access to exclusive content, features, or benefits.
            </li>
            <li>
                4.2 Subscription fees will be clearly communicated and must be paid in accordance with the provided billing terms.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            5. User Content
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                5.1 You may contribute content to the Website, such as book reviews and forum posts. By doing so, you grant the Website a non-exclusive, royalty-free, worldwide license to use, modify, and display your content.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            6. Privacy
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                6.1 Your use of the Website is also governed by our Privacy Policy, which outlines how we collect, use, and protect your personal information.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            7. Termination
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                7.1 We reserve the right to terminate or suspend your access to the Website and its services for any violation of these Terms or for any other reason at our discretion.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            8. Intellectual Property
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                8.1 All content on the Website, including but not limited to text, images, logos, and software, is protected by copyright and other intellectual property laws. You may not use, reproduce, or distribute this content without proper authorization.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            9. Disclaimers
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                9.1 The Website and its services are provided "as is" and without warranties of any kind, either express or implied.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            10. Limitation of Liability
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                10.1 To the extent permitted by law, the Website shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            11. Governing Law
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                11.1 These Terms are governed by and construed in accordance with the laws of Portugal. Any disputes arising from these Terms shall be subject to the exclusive jurisdiction of the courts in Lisbon.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            12. Changes to Terms
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                12.1 We reserve the right to modify these Terms at any time. Any changes will be posted on the Website, and it is your responsibility to review them periodically. Your continued use of the Website constitutes acceptance of the updated Terms.
            </li>
        </ul>


        <h2 class="mb-2 text-xl font-medium">
            13. Contact Information
        </h2>
        <ul class="text-gray-500 dark:text-gray-400">
            <li>
                13.1 For questions or concerns regarding these Terms and Conditions, please contact us at <a href="#" class="underline text-sky-600 dark:text-sky-500">support@@hybriotheca.com</a>.
            </li>
        </ul>


        <p class="mb-2 text-gray-800 dark:text-gray-200">
            By using the Website and its services, you agree to abide by these Terms and Conditions. Failure to comply with these Terms may result in the termination of your access to the Website.
        </p>
    </div>
    
    <!-- Modal footer -->
    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button data-modal-hide="modal-terms-and-conditions" type="button" class="text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">I agree</button>
    </div>
</div>

<div>
    
</div>