@{
    ViewData["Title"] = "Access denied";
}

<div class="flex justify-center items-center h-full text-center">
    <div>
        <h2 class="mb-4 text-6xl font-semibold text-sky-500">Access denied</h2>
        <p class="mb-4 text-lg text-gray-600 dark:text-gray-300">You have no business here. Choo!</p>
    </div>
</div>