@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (string.IsNullOrEmpty(ViewBag.ErrorTitle))
{
    <h4>Error</h4>
    <p>An error occured while processing your request.</p>
}
else
{
    <h4>@ViewBag.ErrorTitle</h4>
    <p>@ViewBag.ErrorMessage</p>
}
