@model Hybriotheca.Web.Data.Entities.Loan

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="ID" type="hidden" />
    
    <div class="mb-3">
        <label asp-for="LibraryID" class="form-label"></label>
        <select asp-for="LibraryID" class="form-control" asp-items="ViewBag.Libraries">
            <option disabled selected>Select library</option>
        </select>
        <span asp-validation-for="LibraryID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BookEditionID" class="form-label"></label>
        <select asp-for="BookEditionID" class="form-control" asp-items="ViewBag.BookEditions">
            <option disabled selected>Select book</option>
        </select>
        <span asp-validation-for="BookEditionID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserID" class="form-label"></label>
        <select asp-for="UserID" class="form-control" asp-items="ViewBag.Users">
            <option disabled selected>Select user</option>
        </select>
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>
        <select asp-for="Status" asp-items="ViewBag.BookLoanStatuses" class="form-control" oninput="toggleReturnDate()"></select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" type="date" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TermLimitDate" class="form-label"></label>
        <input asp-for="TermLimitDate" type="date" class="form-control" />
        <span asp-validation-for="TermLimitDate" class="text-danger"></span>
    </div>

    <div class="mb-3" id="divReturnDate" style="@(Model.IsReturned ? "" : "display: none;")">
        <label asp-for="ReturnDate" class="form-label"></label>
        <input asp-for="ReturnDate" type="date" class="form-control" />
        <span asp-validation-for="ReturnDate" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<script type="text/javascript">
    const toggleReturnDate = () => {
        if ($('#Status').val() == "Returned") {
            $('#divReturnDate').show();
        }
        else {
            $('#divReturnDate').hide();
        }
    }
</script>