@model Hybriotheca.Web.Models.Entities.CreateLoanViewModel

@{
    ViewData["Title"] = "Create Loan";
    Layout = "_LayoutAdminPanel";
}

<div class="w-full lg:w-8/12 p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">

    <h1 class="mb-4 text-xl font-semibold dark:text-white">
        @ViewData["Title"]
    </h1>

    <partial name="_CreateForm" />

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
