@model Hybriotheca.Web.Models.Entities.CreateLoanViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout-BACKUP";
}

<h1>Create</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <partial name="_CreateForm" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
