@model IEnumerable<Hybriotheca.Web.Models.Entities.LoanViewModel>

@{
    ViewData["Title"] = "Loans";
    Layout = "_Layout-BACKUP";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_IndexTable@(ViewBag.Role)" />