@model IEnumerable<Hybriotheca.Web.Models.Entities.LoanViewModel>

@{
    ViewData["Title"] = "Loans";
    Layout = "_Layout-BACKUP";
}

<h1>Loans</h1>
<p>@Html.Raw(TempData["Message"])</p>
<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_IndexTable@(ViewBag.Role)" />