@model Hybriotheca.Web.Models.Entities.LoanViewModel

@{
    ViewData["Title"] = "Return book";
    Layout = "_Layout-BACKUP";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <partial name="_Display" />
</div>
<div>
    <form asp-action="ReturnBook" asp-route-loanId="@Model?.Id">
        <button class="btn btn-primary">Confirm</button>
    </form>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
