@model Hybriotheca.Web.Models.Entities.BookEditionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Book Edition</h4>
<hr />
<partial name="_Input" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
