@model Hybriotheca.Web.Models.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<div class="flex flex-col items-center px-6 py-8 mx-auto">
    <div class="w-full bg-white rounded-lg border border-gray-100 shadow-lg sm:max-w-md xl:p-0 md:mt-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Change Password
            </h1>

            <form method="POST" class="space-y-4 md:space-y-6">

                <div asp-validation-summary="ModelOnly"></div>

                <!-- CURRENT PASSWORD -->
                <div>
                    <label asp-for="OldPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
                    <input asp-for="OldPassword" type="password" name="OldPassword" id="OldPassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    <span asp-validation-for="OldPassword" class="text-red-500"></span>
                </div>

                <!-- NEW PASSWORD -->
                <div>
                    <label asp-for="NewPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                    <input asp-for="NewPassword" type="password" name="NewPassword" id="NewPassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    <span asp-validation-for="NewPassword" class="text-red-500"></span>
                </div>

                <!-- CONFIRM NEW PASSWORD -->
                <div>
                    <label asp-for="ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm New Password</label>
                    <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
                </div>

                <!-- UPDATE BUTTON -->
                <button type="submit" asp-action="ChangePassword" class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}