@model Hybriotheca.Web.Models.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="POST">
            
            <div asp-validation-summary="ModelOnly"></div>

            <p class="text-success">@TempData["Message"]</p>

            <!-- Email -->
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                
                <!-- Remember Me? -->
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
                
                <!-- Forgot password? -->
                <a asp-action="ForgotPassword" class="">Forgot password?</a>

            </div>

            <!-- Submit __ Sign up -->
            <div class="mb-3">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a asp-action="Register" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" class="btn btn-success">Sign up</a>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}