@model Hybriotheca.Web.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="p-4 grow">
    <main role="main" class="max-w-screen-xl justify-between mx-auto dark:text-white">
        <div class="flex flex-col items-center px-6 py-8 mx-auto">
            <div class="w-full bg-white rounded-lg border border-gray-100 shadow-lg sm:max-w-md xl:p-0 md:mt-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Create and account
                    </h1>

                    <form method="POST" class="space-y-4 md:space-y-6">

                        <div asp-validation-summary="ModelOnly"></div>

                        <!-- EMAIL -->
                        <div>
                            <label asp-for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                            <input asp-for="Email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                            <span asp-validation-for="Email" class="text-red-500"></span>
                        </div>

                        <!-- FIRSTNAME -->
                        <div>
                            <label asp-for="FirstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your First Name</label>
                            <input asp-for="FirstName" type="text" name="firstName" id="firstName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required="">
                            <span asp-validation-for="FirstName" class="text-red-500"></span>
                        </div>

                        <!-- LASTNAME -->
                        <div>
                            <label asp-for="LastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Last Name</label>
                            <input asp-for="LastName" type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Doe" required="">
                            <span asp-validation-for="LastName" class="text-red-500"></span>
                        </div>

                        <!-- PASSWORD -->
                        <div>
                            <label asp-for="Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input asp-for="Password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                            <span asp-validation-for="Password" class="text-red-500"></span>
                        </div>

                        <!-- CONFIRM PASSWORD -->
                        <div>
                            <label asp-for="ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
                            <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                            <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
                        </div>

                        <!-- ACCEPT TERMS AND CONDITIONS -->
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-sky-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-sky-600 dark:ring-offset-gray-800" required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="terms" class="font-light text-gray-500 dark:text-gray-300">
                                    I accept the <a class="font-medium text-sky-600 hover:underline dark:text-sky-500" href="#">Terms and Conditions</a>
                                </label>
                            </div>
                        </div>

                        <!-- CREATE BUTTON -->
                        <button type="submit" class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">
                            Create an account
                        </button>

                        <!-- LOGIN LINK -->
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Already have an account? <a asp-action="Login" class="font-medium text-sky-600 hover:underline dark:text-sky-500">Login here</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}