@model Hybriotheca.Web.Data.Entities.BookStock

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (User.IsInRole("Admin"))
{
    <div class="mb-3">
        <label asp-for="LibraryID" class="form-label"></label>
        <select asp-for="LibraryID" class="form-control" asp-items="ViewBag.Libraries" oninput="checkBookStock()">
            <option value="" disabled selected>Select library</option>
        </select>
        <span asp-validation-for="LibraryID" class="text-danger"></span>
    </div>
}
else
{
    <input type="hidden" asp-for="LibraryID" >
}

<div class="mb-3">
    <label asp-for="BookEditionID" class="form-label"></label>
    <select asp-for="BookEditionID" class="form-control" asp-items="ViewBag.BookEditions" oninput="checkBookStock()">
        <option value="" disabled selected>Select book</option>
    </select>
    <span asp-validation-for="BookEditionID" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="TotalStock" class="form-label"></label>
    <input asp-for="TotalStock" class="form-control" min="0"/>
    <span asp-validation-for="TotalStock" class="text-danger"></span>
</div>