@model Hybriotheca.Web.Data.Entities.BookStock

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (User.IsInRole("Admin"))
{
    <div>
        <label asp-for="LibraryID" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <select asp-for="LibraryID" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" asp-items="ViewBag.Libraries" oninput="checkBookStock()">
            <option value="" disabled selected>Select library</option>
        </select>
        <span asp-validation-for="LibraryID" class="text-danger"></span>
    </div>
}
else
{
    <input type="hidden" asp-for="LibraryID" >
}

<div>
    <label asp-for="BookEditionID" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
    <select asp-for="BookEditionID" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" asp-items="ViewBag.BookEditions" oninput="checkBookStock()">
        <option value="" disabled selected>Select book</option>
    </select>
    <span asp-validation-for="BookEditionID" class="text-danger"></span>
</div>
<div>
    <label asp-for="TotalStock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
    <input asp-for="TotalStock" type="number" min="0" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
    <span asp-validation-for="TotalStock" class="text-danger"></span>
</div>