@model Hybriotheca.Web.Models.Entities.BookStockViewModel

<form asp-action="Index" method="GET">
    <div class="row" style="margin: 8px; border: 4px solid gray; padding: 16px;">
        
        <div class="col-md-6 mb-3">
            <label class="form-label">Library</label>
            <select asp-for="LibraryID" name="LibraryID" asp-items="ViewBag.Libraries" class="form-control">
                <option value="">Search library</option>
            </select>
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">BookEdition</label>
            <select asp-for="BookEditionID" name="BookEditionID" asp-items="ViewBag.BookEditions" class="form-control">
                <option value="">Search book title</option>
            </select>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Search</button>
        </div>

    </div>
</form>