@model Hybriotheca.Web.Data.Entities.BookStock

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout-BACKUP";
}

<h1>Create</h1>

<h4>Book Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <partial name="_Input" />
            
            <p id="BookStockExists" style="display: none;">This Book Stock already exists. <a id="UpdateIfExists">Update</a> it?</p>

            <div class="mb-3">
                <button id="btnSave" class="btn btn-primary" disabled="true">Save</button>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_CreateChecks");
    }
}
