@model Hybriotheca.Web.Data.Entities.BookStock

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout-BACKUP";
}

<h1>Edit</h1>

<h4>Book Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="formEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <partial name="_Input" />
            
            <p id="DoesntExistCreateIt" style="display: none;">This Book Stock doesn't exist. Create it?</p>
            <p id="NoBookStockAvailable" class="text-danger" style="display: none;">There isn't enough available Book Stock.</p>
            
            <div class="mb-3">
                <button id="btnSave" class="btn btn-primary" disabled="true">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_EditChecks");
    }
}
